<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Condiment">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
</head>

<body>
	<div id="outer">
		<header>
			<nav>
				<span class="WIRS"><a href="/">WIRS</a></span>
				<span class="home-link topic_header">
				
				<a href="/search">Search</a>
				</span>
				<span class="topic_header" id="login-status">
					{{#if user}}
						<a href="/my_profile">My Profile</a>
					{{else}}
					<a href="/register">Register</a> or <a href="/login">Login</a>
					{{/if}}
				</span>
				
			</nav>
		</header>

		
		<div class="content">
			
			{{{ body }}}
		</div>
	</div>
</body>
</html>
