<h2>Build your profile</h2>
<form method="POST" action="">
	<div>
		<label for="title">Name:</label>
		<input type="text" id="name" name="name" value="">
	</div>
	<div>
		<label for="title">Degree:</label>
		<input type="text" id="degree" name="degree" value="">
	</div>
	<div>
		<label for="title">Major:</label>
		<input type="text" id="major" name="major" value="">
	</div>
	<div>
		<label for="title">Research Area:</label>
		<input type="text" id="research_area" name="research_area" value="">
	</div>
	<div>
		<label for="title">Researching Topic:</label>
		<input type="text" id="research_topic" name="research_topic" value="">
	</div>
	<div>
		<label for="description">Published Paper:</label>
		<textarea name="published_paper" id="published_paper"></textarea>
	</div>
	<input type="submit" value="Add">
	<div>{{{err}}}</div>
</form>
