<div></div>
<form method="POST" action="">
    <div class = "search">
        <input class="searchValue chat_name_text" style="color: #52796F; font-size: 48px; font-style: italic;" type="search" id="keyword" placeholder="Enter keywords to find people" name="keyword" value = "">
        <button type="submit" value="Search">Search</button>
    </div>
</form>