<h2>Search Keywords</h2>
<form method="POST" action="">
    <span class="search">
        <input class="searchValue" type="text" id="keyword" name="keyword" value = "">
        <input class = "searchBtn" type="submit" value="Search">
    </span>
</form>