<h1>We Research</h1>

<div>
    {{#if user}}
    Hello, {{user.username}}
    {{/if}}
</div>
<div>Get the work done, learn from each other, build long-term relationship, and share interests</div>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="../react.mjs"></script>