#outer {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	text-align: right;
}

#outer > #greeting {
	position: relative;
	left: 33%;
	height: 100%;
	top: -.01em;
	width: 67%;
	
}

#greetText {
	position: absolute;
	left: 7%;
	top: 52%;
	width: 22%;
}

#greetHeader {
	position: absolute;
	left: 7%;
	top: 38%;
	text-align: left;
}

#helloUser {
	position: absolute;
	left: 4em;
	top: 30%;
	width: 450px;
	left: 7%;
}

#name {
	position: absolute;
	top: 40%;
	left: 10%;
	width: 20%;
	text-align: left;
}

#Degree {
	text-align: left;
	position: absolute;
	top: 60%;
	left: 10%;
}

#degree {
	font-size: 28px;
	position: relative;
	top: 0.2em;
	width: 20%;
	
}

#Major {
	text-align: left;
	position: absolute;
	top: 75%;
	left: 10%;
}

#major {
	font-size: 28px;
	position: relative;
	top: 0.em;
	width: 90%;
}

#Area {
	text-align: left;
	position: absolute;
	top: 25%;
	left: 40%;
}

#area {
	font-size: 28px;
	position: relative;
	top: 0.4em;
	width: 90%;
}

#Topic {
	text-align: left;
	position: absolute;
	top: 25%;
	left: 65%;
}

#topic {
	font-size: 28px;
	position: relative;
	top: 0.4em;
	width: 90%;
}

#profile_Paper {
	text-align: left;
	position: absolute;
	top: 40%;
	left: 40%;
}

li {
	display: list-item;
	list-style-type: square;
	margin-bottom: .5em;
}

#profile_paper {
	font-size: 28px;
	position: relative;
	top: 0.4em;
	overflow: scroll;
	height: 50vh;
	width: 50vw;
}
::-webkit-scrollbar {
	background: transparent;
}

#edit_profile {
	position: absolute;
	top: 15%;
	left: 12%;
	font-family: 'Itim';
	font-size: 36px;
	opacity: 0.5;
}

.search {
	position: absolute;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -50px;
}

.searchValue {
	color: gray;
}


body {
	font-family: Garamond, sans-serif;
	font-size: 1.25em;
	background-color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	padding: none;
}

a:link {
	text-decoration: none;
	color: black;
}

a {
	color: black;
}
  

.WIRS {
	position: absolute;
	left: 3%;
	top: 100%;
	font-size: 48px;
	font-family: 'Condiment';
}

.home-link {
	position: absolute;
	top: 100%;
	right: 15%;
	color: black;
}

#login-status {
	position: absolute;
	top: 100%;
	right: 5%;
}

#login {
	position: absolute;
	left: 35%;
	top: 15%;
}

.login {
	position: relative;
	left: 35%;
	top: 10em;
	margin-bottom: 2em;
	border-bottom: 1px solid #565656;
	width: 30%;
}

#loginBtn {
	position: absolute;
	left: 35%;
	top: 55%;
	background-color: #52796F;
	color: white;
	width: 30%;
	height: 50px;
	
}

header {
	position: relative;
	background-color: #fff;
	margin: 0px;
	height: 1.5em;
	padding: 0.25em 1em 0em 1em;
	/*text-align: right;*/
}

nav > a, nav > a:visited {
	color: black;
}

h1, h2 {
	text-align: center;
}

div.content {
	padding: 0em 1em 1em 1em;
}

.note {
	color:#888; 
	padding-top: 1em;
}

.error {
	background-color: #eecccc;
	padding: 0.25em;
	margin-bottom: 1em;
	text-align: center;	
}

.success {
	background-color: #cceecc;
	padding: 0.25em;
}

form div {
	padding-bottom: 0.5em;
}

textarea {
	width: 25em;
	height: 12em;
}

form textarea, form input {
	display: block;
}

input {
	border: 1px solid #555;
	font-size: 1em;
}

.topics {
	font-family: 'Istok Web';
	font-size: 48px;
	text-align: left;
}

.chat_name_text {
	font-family: 'Inter';
	letter-spacing: 0.1px;
	font-size: 36px;
	text-align: left;
}

.topic_header {
	font-size: 30px;
	font-family: 'Itim';
	text-align: left;
}